apiVersion: apps/v1
kind: Deployment
metadata:
  name: html-app2
  # namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: html-app2
  template:
    metadata:
      labels:
        app: html-app2
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
        volumeMounts:
        - name: html-volume
          mountPath: /usr/share/nginx/html
      volumes:
      - name: html-volume
        configMap:
          name: html-config
